Options +FollowSymLinks
Options -Multiviews

RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

#RewriteRule ^([0-9]+) guest/share.php?id=$1
RewriteRule ^/auth(.*)$ /auth/$1 [R=301,NC,L]
RewriteRule ^/list(.*)$ /list/$1 [R=301,NC,L]
RewriteRule ^/gift(.*)$ /gift/$1 [R=301,NC,L]
RewriteRule ^([^/\.]+)/?$ guest/share.php?id=$1 [L,QSA]
RewriteRule ^([^\.]+)$ $1.php [NC,L]